  .app-container-grid {
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
    height: 100vh;
  }

  /* .main-header,
  .main-footer {
    background-color: #812a2a;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  } */

  /* .main-container-grid {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
  } */

  /* .align-center {
    margin: 15px;
    border: 1px dashed #CCC;
  } */